*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.jar
app/local.properties
app/.idea/vcs.xml
app/.idea/modules.xml
app/.idea/misc.xml
app/.idea/gradle.xml
.idea/runConfigurations.xml
.idea/misc.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/dictionaries/shrikanthravi.xml
.idea/compiler.xml
.idea/codeStyles/Project.xml
.idea/caches/build_file_checksums.ser
.idea/assetWizardSettings.xml
.idea/assetWizardSettings.xml
.idea/assetWizardSettings.xml
.idea/caches/build_file_checksums.ser
.idea/codeStyles/Project.xml
*.jar
*.properties
